node_modules
dist
build
coverage
.npm
.cache
.temp
.tmp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.git
.gitignore
.github
.vscode
.idea
*.local
.env
.env.*
!.env.example
.trae
*.md
!README.md
nginx.conf
!nginx.conf
